$fontSize: 14px;
$color: #333;
$bdColor: #ebebeb;
$bgColor: #eee;
$themeFontColor: #007acd;
$redColor:#d92016;

*{
 padding:0;
 margin:0;
}
body{
 background: black;
 font-family: "Microsoft yahei", Arial;
}
a{
 color: $themeFontColor;
}
ul,dl{
 list-style: none;
}
.demo-box{
 width:570px;
 margin:0 auto;
 background: #fff;
}
.module-system-intro{
 font-size:12px;
 padding:15px 20px 20px;
 .intro-logo{
  height:43px;
  margin-bottom: 10px;
  img{
   display: block;
   margin:0 auto;
   height:43px;
  }
 }
 .red{
  color:$redColor;
 }
 .blue{
  color:$themeFontColor;
 }
 .text-indent-2{
  text-indent: 2em;
 }
 .margin-top-4{
  margin-top:4px;
 }
 dl{
  font-size:12px;
  line-height: 24px;
 }

 dd{
  b,span,a{
   margin:0 2px;
  }
 }
 .contact-info{
  position: relative;
  padding-top:5px;
 }
 .icon-man{
  position: absolute;
  display: inline-block;
  width: 131px;
  height:108px;
  background:url(images/contact_icons.png) 0 0 no-repeat;
  right:30px;
  top:5px;
  z-index:5;
 }
 li{
  margin:5px 0;
  height:24px;
  line-height: 24px;
  font-size:12px;
  display: block;
  padding-left:30px;
 }
 .tel{
  background:url(images/contact_icons.png) 0 -108px no-repeat;
  b{
   margin-right:10px;
  }
 }
 .qq{
  background:url(images/contact_icons.png) 0 -132px no-repeat;
 }
 .email{
  background:url(images/contact_icons.png) 0 -156px no-repeat;
 }
 .time{
  background:url(images/contact_icons.png) 0 -180px no-repeat;
 }
}