<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <!--<form action="/" method="post">-->
        <!--<ul>-->
            <!--<li>username: <input type="text" name="username" /></li>-->
            <!--<li>password: <input type="password" name="password" /></li>-->
            <!--<li>title: <input type="text" name="title" /></li>-->
            <!--<li>content: <input type="text" name="content" /></li>-->
        <!--</ul>-->
        <!--<input type="submit" value="submit" />-->
    <!--</form>-->
    
  </body>
</html>
